$animate-duration: 0.3s;
$bg-color-disabled: #f5f7fa;
$bg-color-white: #fff;
$bg-color: rgba(0, 0, 0, 0.74);
$border-color-disabled: #e4e7ed;
$border-color-error: #F1453D;
$border-color-focus: #999;
$border-color-hover: #666;
$border-color-hover: #c0c4cc;
$border-color-light: lighten(#dcdfe6, 6%);
$border-color-success: #67c23a;
$border-color: #dcdfe6;
$border-radius-large: 6px;
$border-radius: 4px;
$box-shadow-color-error: rgba(241, 69, 61, 0.2);
$box-shadow-color-success: rgba(103, 194, 58, 0.2);
$box-shadow-color: rgba(153, 153, 153, 0.2);
$button-active-bg: #eee;
$button-bg: #fff;
$color-disabled: #c0c4cc;
$color-placeholder: #ccc;
$color-tips-error: #F1453D;
$color-tips-success: #67c23a;
$color-tips: #57a3f3;
$color: #333;
$font-size-tips: 12px;
$font-size: 14px;
$line-height-tips: 14px;
$line-height: 16px;
$margin-top: 4px;
$min-height: 40px;
$min-width: 10em;
$padding-bigger: 12px;
$padding-biggest: 16px;
$padding-horizontal: 8px;
$padding-vertical: 7px;
$padding: 8px;
$pre-next-icon-fill: #a1acb3;

@mixin fontLineColor($fontSize: 14px, $lineHeight: 32px, $color: #333){
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
}

@mixin flex($justifyContent: flex-start, $alignItems: flex-start){
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin boxShadow() {
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
}