@mixin fontLineColor($fontSize: 14px, $lineHeight: 32px, $color: #333){
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
}

@mixin flex($justifyContent: flex-start, $alignItems: flex-start){
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}
