@mixin fontLineColor($color: $color){
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}

@mixin flex($align-items: flex-start, $justify-content: flex-start){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}
